/** @format */

$accent_color: #ee4343;
@mixin iconSize {
  width: 1.2em;
  height: 1.2em;
}

@function pxToEm($size_px, $font_size) {
  @return $size_px/$font_size + 0em;
}

body {
  background: #f1f1f1;
  margin: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  box-sizing: border-box;
  padding-top: 56px;
  min-height: 100vh;
}

.top-menu {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.side-menu {
  background: #fff;
  a {
    display: inline-block;
    text-decoration: none;
    color: #606060;
    padding: pxToEm(15, 20);
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      color: $accent_color;
      background: rgba(94, 94, 94, 0.459);
    }
  }

  &__link {
    font-weight: bold;
  }

  i {
    display: inline-block;
    @include iconSize;
    text-align: center;
  }

  span {
    margin-left: 26px;
  }
}

.cover-img {
  height: 196px;
  background: url(media/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
